.media-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;

  &:hover {
    //transform: translateY(-5px);
    //box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .media {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.media-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.6) 0%,   /* Darker at the top */
          rgba(0, 0, 0, 0.0) 30%,  /* Lighter in the middle */
          rgba(0, 0, 0, 0.0) 70%,  /* Lighter in the middle */
          rgba(0, 0, 0, 0.6) 100%  /* Darker at the bottom */
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 12px;

    .media-btn {
      width: 100%;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .top-right-buttons {
    position: absolute; // Allows for flexible placement within the .media-info
    top: 10px; // Space from the top
    right: 10px; // Space from the right
    display: flex;
    gap: 5px; // Space between buttons

    .media-btn {
      // Additional button styling if needed
    }
  }
}

.media-card:hover .media-info {
  opacity: 1;
}

.tags-container {
  margin: 8px 0 8px 0;
  display: flex;
  flex-wrap: wrap; /* Allows the tags to wrap onto new lines */
  gap: 4px; /* Adds a 4px gap between each tag */
}

/* Styling for the modal body description */
.ant-modal-body p {
  font-size: 14px;
  color: #666;                /* Softer gray for modal readability */
  line-height: 1.6;           /* Available for consistent line spacing */
  margin: 8px 0;        /* Add spacing between */
  word-wrap: break-word;      /* Keep long word handling */
}

/* Created datetime styling */
.created-datetime {
  margin: 6px 0;         /* Add margin to position below the tags */
  text-align: left;        /* Align text to the right */
  color: #999;             /* Softer color for readability */
  font-size: 12px;         /* Smaller font for the timestamp */
  font-style: italic;      /* Make it italic for aesthetics */
}