.media-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .media {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.media-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;

  h3 {
    margin: 0 0 8px;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* New Styles for the Description Paragraph */
  p {
    margin: 8px 0;             /* Add spacing around the paragraph */
    font-size: 14px;            /* Adjust font size for clarity */
    color: #cacaca;             /* Use a softer color for the text */
    line-height: 1.6;           /* Improve line spacing for readability */
    text-align: center;         /* Center align text */
    word-wrap: break-word;      /* Ensure the text wraps for long words */
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 12px;

    .media-btn {
      width: 100%;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .top-right-buttons {
    position: absolute; // Allows for flexible placement within the .media-info
    top: 10px; // Space from the top
    right: 10px; // Space from the right
    display: flex;
    gap: 5px; // Space between buttons

    .media-btn {
      // Additional button styling if needed
    }
  }
}

.media-card:hover .media-info {
  opacity: 1;
}

.tags-container {
  margin: 8px 0 16px 0;
}

/* Styling for the modal body description */
.ant-modal-body p {
  font-size: 14px;
  color: #666;                /* Softer gray for modal readability */
  line-height: 1.6;           /* Available for consistent line spacing */
  margin: 8px 0;        /* Add spacing between */
  word-wrap: break-word;      /* Keep long word handling */
}

/* Created datetime styling */
.created-datetime {
  margin: 6px 0;         /* Add margin to position below the tags */
  text-align: left;        /* Align text to the right */
  color: #999;             /* Softer color for readability */
  font-size: 12px;         /* Smaller font for the timestamp */
  font-style: italic;      /* Make it italic for aesthetics */
}